# See https://help.github.com/ignore-files/ for more about ignoring files.

# Java
*.class
# packages 
*.jar
*.war
*.ear

# Eclipse
.settings/
.buildpath
.classpath
.project
.class

# Logging
*.log

# jME (binaries)
*.so